# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.iml
.idea/

# Sublime
*.sublime-project
*.sublime-workspace

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
Thumbs.db

.bundle/
log/*.log
*.gz
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/tmp/

spec/dummy/db/functions/
spec/dummy/db/triggers/
spec/dummy/db/migrate/*_enable_hstore.rb
spec/dummy/db/migrate/*_logidze_install.rb

Gemfile.lock
Gemfile.local
.rspec
*.gem
tmp/
coverage/
