name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.1"]
        postgres: ["12"]
        gemfile: [
          "gemfiles/rails72.gemfile"
        ]
        fx: ["false"]
        after_trigger: ["false"]
        include:
        - ruby: "3.2"
          postgres: "15"
          gemfile: "gemfiles/railsmaster.gemfile"
          fx: "false"
          after_trigger: "false"
        - ruby: "3.2"
          postgres: "15"
          gemfile: "gemfiles/rails72.gemfile"
          fx: "false"
          after_trigger: "false"
        - ruby: "3.2"
          postgres: "15"
          gemfile: "gemfiles/rails71.gemfile"
          fx: "false"
          after_trigger: "false"
        - ruby: "3.2"
          postgres: "15"
          gemfile: "gemfiles/rails70.gemfile"
          fx: "false"
          after_trigger: "false"
        - ruby: "3.1"
          postgres: "12"
          gemfile: "gemfiles/rails72.gemfile"
          fx: "false"
          after_trigger: "true"
        - ruby: "3.0"
          postgres: "13"
          gemfile: "gemfiles/rails72.gemfile"
          fx: "false"
          after_trigger: "false"
        - ruby: "2.7"
          postgres: "13"
          gemfile: "gemfiles/rails6.gemfile"
          fx: "false"
          after_trigger: "false"
          table_name_prefix: 'prefix-'
          table_name_suffix: '-suffix'
        - ruby: "2.7"
          postgres: "11"
          gemfile: "gemfiles/rails6.gemfile"
          fx: "false"
          after_trigger: "true"
        - ruby: "2.7"
          postgres: "10"
          gemfile: "gemfiles/rails6.gemfile"
          fx: "false"
          after_trigger: "false"
    services:
      postgres:
        image: postgres:${{ matrix.postgres }}
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v3
    - name: Install system deps
      run: |
        sudo apt-get update
        sudo apt-get -yqq install libpq-dev
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Prepare test database
      run: |
        bundle exec rake dummy:db:create
    - name: Run RSpec (unit, integrations)
      env:
        USE_FX: ${{ matrix.fx }}
        TABLE_NAME_PREFIX: ${{ matrix.table_name_prefix }}
        TABLE_NAME_SUFFIX: ${{ matrix.table_name_suffix }}
      run: |
        bundle exec rspec --exclude-pattern=spec/acceptance/**/* -f d --force-color
    - name: Run RSpec (acceptance)
      env:
        USE_FX: ${{ matrix.fx }}
        TABLE_NAME_PREFIX: ${{ matrix.table_name_prefix }}
        TABLE_NAME_SUFFIX: ${{ matrix.table_name_suffix }}
      run: |
        bundle exec rspec spec/acceptance/ -f d --force-color
